# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
data/CICIDS2017.csv
data/X_scaled.npy
*.so

# VS Code settings
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MyPy
.mypy_cache/

# Pytest cache
.pytest_cache/
